.container {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border: 1px solid lightblue;
    background-color: lightblue;
    margin-bottom: 5px;
    padding: 10px;
    
}

.title {
    text-align: center;
    color: white;
}

.sub-title {
    color: gray;
}

.title-container {
    padding: 5px 15px;
}